# Dependencies
/node_modules
/.pnp

# Testing
/img

# Data files
*.pkl
output_features_30K.pkl

# Misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDE
.idea/
.vscode/
*.swp
*.swo
